{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <h4>Talk with user:</h4>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>



                    </tr>
                  </thead>
                <tbody>
                    {% for i in user %}
                    <tr>

                        <td><a href = "{% url 'messanger' i.id%}">{{i.username}}</a></td>


                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                  <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Send a message to user</button></a>
              </div>
            </div>
            <div class="card-header">
              <i class="fas fa-table"></i>

            Group forum: {{group.name}}

            </div>

     <div class="card-body">Last messages
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Date</th>
                      <th>Sender</th>
                      <th>Content</th>
                        <th></th>


                    </tr>
                  </thead>
                <tbody>
                    {% for i in messages%}
                    <tr>

                        <td>{{i.date_sent}}</td>
                      <td>{{i.sender.username}}</td>
                      <td>{{i.content}} </td>



                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                  <a href="{% url 'sendmessagegroup' %}"><button name = 'VDOT' type="submit">Send a message to group</button></a>
              </div>
            </div>

</div>

{% endblock content %}