{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

            Username: {{member.username}} <br>VDOT = {{member.efficiency}}

            </div>
            <div class="card-body">Last 5 trainings of {{member.username}}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Date</th>
                      <th>Time</th>
                      <th>Distance</th>
                      <th>Speed</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in training%}
                    <tr>

                        <td>{{i.date}}</td>
                      <td>{{i.time_total}}</td>
                      <td>{{i.distance_total}} km</td>
                      <td>{{i.speed}} km/h</td>

                    </tr>
                    {% empty %}
                    <p>No trainings in database</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
     <div class="card-body">Last messages with {{interlocutor.username}}
              <div class="table-responsive">
                  <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Send a message to {{interlocutor.username}}</button></a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Date</th>
                      <th>Sender</th>
                        <th>To</th>
                      <th>Content</th>
                        <th></th>


                    </tr>
                  </thead>
                <tbody>
                    {% for i in msg %}
                    <tr>

                        <td>{{i.date_sent}}</td>
                      <td>{{i.sender.username}}</td>
                        <td>{{i.to.username}}</td>
                      <td>{{i.content}} </td>



                    </tr>
                    {% empty %}
                    <p>No messages</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}