{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-users"></i><span  class="test fa-lg"> Running Group "{{group.name}}"</span>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Name</th>
                      <th>E-mail</th>
                      <th>Last login</th>
                      <th>Date of joining</th>
                      <th>Efficiency(VDOT)</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for i in user %}
                    <tr>

                        <td><a href='/member/{{i.id}}'>{{i.username}}</a></td>
                      <td>{{i.email}}</td>
                      <td>{{i.last_login}}</td>
                      <td>{{i.date_joined}}</td>
                      <td>{{i.efficiency}}</td>
                    {% endfor%}
                    </tr>

                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}