{% extends "racemate/index.html" %}
{% block content %}
<div class="cards mb-3 col-6">

            <div class="card-header">
              <i class="fas fa-table"></i><span  class="test fa-lg"> Messages with {{ interlocutor.username }}</span>
            </div>

    <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Send a message to: {{interlocutor.username}}</button></a>
     <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Sender : to</th>
                        <th>Content</th>
                        <th>Date</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for i in msg %}
                    <tr>
                      <td>{{i.sender.username}} to {{i.to.username}}</td>
                    <th>{{i.content}} </th>
                        <td>{{i.date_sent}}</td>
                        {% if i.groupjoin is not null %}
                        {% if i.to == request.user %}
                        <td><a href="{% url 'adminconfirm' id=i.groupjoin.id sender=i.sender.id %}">Join to group</a></td>
                        {% endif %}
                        {% endif %}



                    </tr>
                    {% empty %}
                    <p>No messages</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>

</div>
     <div class="cards mb-3 col-3" >

            <div class="card-header">
              <i class="fas fa-table"></i><span  class="test fa-lg"> List of friends </span>
            </div>


     <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Name</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in friends %}
                        {% if i.id != request.user.id %}
                    <tr>

                        <td><a href = "{% url 'messanger' i.id%}">{{i.username}}</a></td>


   </tr>  {% endif %}
                    {% empty %}
                    <p>No friends</p>

                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}