{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i><span  class="test fa-lg"> Messanger with {{ interlocutor.username }}</span>
            </div>

    <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Send a message to: {{interlocutor.username}}</button></a>
     <div class="card-body">Last messages with {{interlocutor.username}}:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Date</th>
                      <th>Sender</th>
                        <th>To</th>
                      <th>Content</th>



                    </tr>
                  </thead>
                <tbody>
                    {% for i in msg %}
                    <tr>

                        <td>{{i.date_sent}}</td>
                      <td>{{i.sender.username}}</td>
                        <td>{{i.to.username}}</td>
                      <td>{{i.content}} </td>
                        {% if i.groupjoin is not null %}
                        {% if i.to == request.user %}
                        <td><a href="{% url 'adminconfirm' id=i.groupjoin.id sender=i.sender.id %}">Join to group</a></td>
                        {% endif %}
                        {% endif %}



                    </tr>
                    {% empty %}
                    <p>No messages</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
    <div class="card-body">Talk with:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>


                      <th>User</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in user %}
                    <tr>

                        <td><a href = "{% url 'messanger' i.id%}">{{i.username}}</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                  <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Send a message</button></a>
              </div>
            </div>
</div>

{% endblock content %}