{% extends "racemate/index.html" %}
{% block content %}

    <form method="post">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <div class="card-header">
                            <i class="fas fa-chart-area"> </i><span  class="test fa-lg">  Hi {{ user.username }}</span>

            </div><br><h6>Complete all training details:</h6>
            <h5 style="color:red">{{text}}</h5>
            <div>

         {%csrf_token%}
        <label>Name:<br>
            <input type="text" name="name">
        </label><br>
         <label>Total time:<br>
            <input type="number" value = 0 name="hours">
        </label> h<br>
         <label>
             <input type="number" value = 0 name="minutes">
        </label> min<br>
         <label>
             <input type="number" value = 0 name="seconds">
        </label> sec<br>
         <label>Total distance in km:<br>
            <input type="number" step=0.001 name="distance">
        </label><br>
         <label>Time:<br>
            <input type="time" name="time">
        </label><br>
         <div><label>Date:<br>
            <input type="date" name="date">
        </label></div><br>
                <div><label>Competition (generate VDOT)?:
            <input type="checkbox" name="VDOT">
        </label></div><br>

     </div>
     <button type="submit">Submit</button>
            </table>
 </form>

{% endblock content %}