{% extends "racemate/index.html" %}
{% block content %}
<div class="cards mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>
            <h5>Hi {{ user.username }}</h5>
            Username: {{user.username}} <br>Poziom VDOT = {{user.efficiency}}<br><br>
                Glossary:<br>
                {% for i in dict %}
                {{i.run}}<br>
                {% endfor %}


            </div>
            <div class="card-body">Your trening plan:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Trening day</th>
                      <th>Date of training</th>
                      <th>Training</th>

                      <th>Total Time</th>
                        <th>Total Distance</th>
                        <th>Trening speeds</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in tr|dictsort:"trainingday" %}
                    <tr>
                      <td>{{i.trainingday}}</td>
                        <td>{{ i.date |date:"D d M Y" }}</td>
                      <td>{{i.name}}</td>

                      <td>{{i.total_time}} min</td>
                        <td>{{i.total_distance}} km</td>
                        <td>{{i.speed}}</td>



                    </tr>
                    {% empty %}
                    <p>No trening plans in database</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
    <div class="pagination">
    <span class="step-links">
        {% if tr.has_previous %}

            <a href="?page={{ tr.previous_page_number }}">< previous </a>
        {% endif %}

        <span class="current">
            {% for page in tr.paginator.page_range %}
                <a href="?page={{ page}}">| {{ page }} </a>
            {%  endfor %}
        </span>

        {% if tr.has_next %}
            <a href="?page={{ tr.next_page_number }}">| next ></a>

        {% endif %}
    </span>
</div>

</div>

{% endblock content %}
TYP treningu {{type}}<br>
Nazwa treningu {{name}}<br>
Czas trwania treningu {{time}} min<br>
VDOT {{efficiency}}<br>
Szybkość {{speed}} km/h<br>
Łączny dystans {{distance}} km <br>
