{% extends "racemate/index.html" %}
{% block content %}
<div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'landing-page' %}">Main page</a>
            </li>
            <li class="breadcrumb-item active">500 Error</li>
          </ol>

          <!-- Page Content -->
          <h1 class="display-1">500</h1>
          <p class="lead">Internal Server Error. You can
            <a href="javascript:history.back()">go back</a>
            to the previous page, or
            <a href="{% url 'landing-page' %}">go home</a>.</p>

        </div>
        <!-- /.container-fluid -->
{% endblock content %}