{% extends "racemate/index.html" %}
{% block content %}
    <div class="col-6">
        <div>

        </div>
        <form action="" method="post">
            <div class="card-header">
                <i class="fas fa-lg fa-info-circle"> </i>
                <span  class="test fa-lg"> About Racemate ©</span><br><br>
                <span  class="test fa-1x">
                    Racemate is a running application for:<br><br>
                    <li>Calculate <a href="https://en.wikipedia.org/wiki/Jack_Daniels_(coach)#VDOT">VDOT(efficiency)</a>
                        and <a href="https://en.wikipedia.org/wiki/Jack_Daniels_(coach)#Training_philosophy">training tempos </a>
                        in accordance with the assumptions of the running trainer Jack Daniels</li>
                    <li>Predict finish times at common race distances</li>
                    <li>Communication between members of the running group  *</li>
                    <li>Creating a database of completed trainings   *</li>
                    <li>Monitoring and updating the user's form    *</li>
                    <li>Creating personalized running plans   *</li><br>
                    * features available only for logged user<br><br>
                        Technologies:<br>
                        Python, Django, PostgreSQL, JavaScript<br>
                        IDE: PyCharm<br>
                        CVS:: Git<br>
                        In this project I used <a href="https://startbootstrap.com/templates/sb-admin/">SB Admin</a> template
                    <br><br>
                    TODO list:
                    <li>showing user's life records on common race distances</li>
                    <li>support buttons for messages</li>
                    <li>showing time from the last workout</li>
                    <li>create "real" messanger</li>
                    <li>generating training plans</li>
                    </span>

            </div>


        </form>


    </div>
{% endblock content%}