{% extends "racemate/index.html" %}
{% block content %}
    <div class="col-5">
        <div>

        </div>
        <form action="" method="post">
            <div class="card-header">
                <i class="fas fa-user"> </i>
                <span  class="test fa-lg">  Send me a message:</span>
            </div>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock content%}