{% extends "racemate/index.html" %}
{% block content %}
<div class="cards mb-3">


            <div class="card-header">
                            <i class="fas fa-tachometer-alt"> </i><span  class="test fa-lg">  Hi {{ user.username }}</span>
                <p class="fa-1x" >VDOT (efficiency) = {{user.efficiency}}</p>
            </div>
            <!--Username: {{user.username}} <br>-->

    <div class="card-body">You are the admin of groups:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Name of the group</th>

                      <th>Creation date</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in groups %}
                    <tr>

                        <td><a href='{% url "adminview" id=i.id %}'>{{i.name}}</a></td>
                      <td>{{i.date}}</td>
                    {% endfor%}
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
            <div class="card-body">Your trenings:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <a href="{% url 'addtraining' %}"><button name = 'training' type="submit">Add a trening</button></a>
                  <thead>
                    <tr>

                      <th>Date</th>
                      <th>Time</th>
                      <th>Distance</th>
                      <th>Speed</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in training%}
                    <tr>

                        <td>{{i.date}}</td>
                      <td>{{i.time_total}}</td>
                      <td>{{i.distance_total}} km</td>
                      <td>{{i.speed}} km/h</td>

                        <td><a href="{% url 'delete' pk=i.id %}"><button name = 'VDOT' type="submit">Delete training</button></a></td>
                        {% if i.distance_total >= 3 %}
                        <td><a href="{% url 'generate_vdot' id=i.id %}"><button name = 'VDOT' type="submit">Generate VDOT?</button></a></td>
                        {% else %}
                        <td><button name = 'VDOT' type="submit">Distance have to be longer than 3km</button></td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <p>No trening in Database</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
    <div class="pagination">
    <span class="step-links">
        {% if training.has_previous %}

            <a href="?page={{ training.previous_page_number }}">< previous </a>
        {% endif %}

        <span class="current">
            {% for page in training.paginator.page_range %}
                <a href="?page={{ page}}">| {{ page }} </a>
            {%  endfor %}
        </span>

        {% if training.has_next %}
            <a href="?page={{ training.next_page_number }}">| next ></a>

        {% endif %}
    </span>
</div>

</div>

{% endblock content %}