{% extends "racemate/index.html" %}
{% block content %}
    <div class="col-3">
    <form method="post" >
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                        <div class="card-header">
                            <i class="fas fa-calculator"> </i><span  class="test fa-lg">
                            Running calculator</span>

            </div><br>
            <div>Complete all training details to calculate:<br>
            <li>your VDOT</li>
            <li>training tempos</li>
            <li>predicted finish times at common race distances</li>
            </div>
            <h5 style="color:red">{{text}}</h5>
            <div>

         {%csrf_token%}

         <label>Total time:<br>
            <input type="number" value = 0 name="hours">
        </label> h<br>
         <label>
             <input type="number" value = 0 name="minutes">
        </label> min<br>
         <label>
             <input type="number" value = 0 name="seconds">
        </label> sec<br>
         <label>Total distance in km:<br>
            <input type="number" step=0.01 name="distance"  value = 0 >
        </label><br>
     </div>
     <button type="submit">Calculate</button>
            </table>
 </form>
    </div>

{% if form_value.distance_total %}
    <div class="col-9">
        <div class="row">
        <div class="card-header">
            <i class="fas fa-tachometer-alt"> </i><span  class="test fa-lg">  </span>
            <p>Your run :<br>
                Time: {% if form_value.hours != '0' %} {{ form_value.hours }}h {% endif %}
                {% if form_value.minutes != '0'%} {{ form_value.minutes }}min {% endif %}
                {% if form_value.seconds != '0'%} {{ form_value.seconds }}sec {% endif %}<br>
                Distance: {% if form_value.distance_total %} {{ form_value.distance_total }}km {% endif %}
            </p>
                <p class="fa-1x" >Your VDOT (efficiency) is {{efficiency}}</p>
            </div>
        </div>
    <div class="row">
    <div class="card-body col-4">Calculated competition results
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Distance</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td>Marathon</td>
                      <td>{{ results.marathon }}</td>
                    </tr>
                     <tr>
                        <td>Half-marathon</td>
                      <td>{{ results.half }}</td>
                    </tr>
                 <tr>
                        <td>10km</td>
                      <td>{{ results.10k }}</td>
                    </tr>
                 <tr>
                        <td>5km</td>
                      <td>{{ results.5k }}</td>
                    </tr>
                 <tr>
                        <td>3km</td>
                      <td>{{ results.3k }}</td>
                    </tr>
                </tbody>
                </table>
              </div>
            </div>

    <div class="card-body col-4">Trening tempos
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Training Type</th>
                      <th>Speed</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td>Easy</td>
                      <td>{{ tempos.easy }}</td>
                    </tr>
                     <tr>
                        <td>Marathon</td>
                      <td>{{ tempos.marathon }}</td>
                    </tr>
                 <tr>
                        <td>Threshold</td>
                      <td>{{ tempos.threshold }}</td>
                    </tr>
                 <tr>
                        <td>Interval</td>
                      <td>{{ tempos.interval }}</td>
                    </tr>
                 <tr>
                        <td>Repetition</td>
                      <td>{{ tempos.repetition }}</td>
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
    </div>
</div>
    {% endif %}



{% endblock content %}