{% extends "racemate/index.html" %}
{% block content %}
<div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'landing-page' %}">Strona główna</a>
            </li>
            <li class="breadcrumb-item active">500 Error</li>
          </ol>

          <!-- Page Content -->
          <h1 class="display-1">500</h1>
          <p class="lead">Wewnętrzny błąd serwera. Możesz
            <a href="javascript:history.back()">wrócić</a>
            do poprzedniej strony, lub
            <a href="{% url 'landing-page' %}">przejść na stronę główną</a>.</p>

        </div>
        <!-- /.container-fluid -->
{% endblock content %}