{% extends "racemate/index.html" %}
{% block content %}

    <form method="post">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
     <h5>Witaj {{ user.username }}<br>Uzupełnij pola treningu:</h5>
            <h5 style="color:red">{{text}}</h5>
            <div>

         {%csrf_token%}
        <label>Nazwa:<br>
            <input type="text" name="name">
        </label><br>
         <label>Łączny czas:<br>
            <input type="number" value = 0 name="hours">
        </label> h<br>
         <label>
             <input type="number" value = 0 name="minutes">
        </label> min<br>
         <label>
             <input type="number" value = 0 name="seconds">
        </label> sek<br>
         <label>Łączny dystans w kilometrach:<br>
            <input type="number" step=0.001 name="distance">
        </label><br>
         <label>Godzina:<br>
            <input type="time" name="time">
        </label><br>
         <div><label>Data:<br>
            <input type="date" name="date">
        </label></div><br>
                <div><label>Wygenerować VDOT?:
            <input type="checkbox" name="VDOT">
        </label></div><br>

     </div>
     <button type="submit">Wprowadź</button>
            </table>
 </form>

{% endblock content %}