
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Runmate</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
<h1>Runmate</h1>
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='#'><span>Dodaj trening</span></a></li>
            <li><a href='#' ><span>Dodaj plan treningowy</span></a></li>
            <li class='active'><a href='#'><span>Twoja grupa</span></a></li>
            <li><a href='#' ><span>Historia treningów</span></a></li>
            <li class='last'><a href='#'><span>Cośtam jeszcze</span></a></li>
            <li><a href='#' ><span>Forum</span></a></li>
            <li class='last'>Zalogowano jako {{ user }}
        <!--Stopka do wylogowania-->
        {% if auth %}
        <span>Zalogowano jako {{ user }}</span><a href="{% url 'logout'%}">wyloguj</a>
        {% else %}
        <a href="{% url 'login'%}">zaloguj się</a>
        {% endif %}</li>
        </ul>



                    Zalogowano jako {{ user }}
        <!--Stopka do wylogowania-->
        {% if auth %}
        <a href="{% url 'logout'%}">wyloguj</a>
        {% else %}
        <a href="{% url 'login'%}">zaloguj się</a>
        {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
        © Copyright 2018 by <a href="http://...">Charles</a>.
      {% endblock %}
    </div>
</body>

</html>