{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>
            <h5>Witaj {{ user.username }}</h5>
            Nazwa użytkownika: {{user.username}} <br>Poziom VDOT = {{user.efficiency}}

            </div>
            <div class="card-body">Twój treningi:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Data</th>
                      <th>Czas</th>
                      <th>Dystans</th>
                      <th>Średnia prędkość</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in training%}
                    <tr>

                        <td>{{i.date}}</td>
                      <td>{{i.time_total}}</td>
                      <td>{{i.distance_total}} km</td>
                      <td>{{i.speed}} km/h</td>
                        <td><a href="{% url 'generate_vdot' id=i.id %}"><button name = 'VDOT' type="submit">Wygenerować VDOT?</button></a></td>
                        <td><a href="{% url 'deletetraining' id=i.id %}"><button name = 'VDOT' type="submit">Kasuj trening</button></a></td>

                    </tr>
                    {% empty %}
                    <p>Brak wprowadzonych treningów</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
    <div class="pagination">
    <span class="step-links">
        {% if training.has_previous %}

            <a href="?page={{ training.previous_page_number }}">< poprzednia </a>
        {% endif %}

        <span class="current">
            {% for page in training.paginator.page_range %}
                <a href="?page={{ page}}">| {{ page }} </a>
            {%  endfor %}
        </span>

        {% if training.has_next %}
            <a href="?page={{ training.next_page_number }}">| następna ></a>

        {% endif %}
    </span>
</div>

</div>

{% endblock content %}