{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

            Nazwa użytkownika: {{member.username}} <br>Poziom VO2max = {{member.efficiency}}

            </div>
            <div class="card-body">Ostatni trening
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Numer</th>
                      <th>Data</th>
                      <th>Czas</th>
                      <th>Dystans</th>
                      <th>Średnia prędkość</th>

                    </tr>
                  </thead>
                <tbody>

                    <tr>
                      <td>1</td>
                        <td>12 grudnia 2018</td>
                      <td>1h 25 min 13 sek</td>
                      <td>15km 320 m</td>
                      <td>12.3km/h</td>


                    </tr>

                </tbody>
                </table>
              </div>
            </div>
     <div class="card-body">Ostatnie wiadomości
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Numer</th>
                      <th>Data</th>
                      <th>Od kogo</th>
                      <th>Treść</th>
                      <th></th>

                    </tr>
                  </thead>
                <tbody>

                    <tr>
                      <td>1</td>
                        <td>12 grudnia 2018</td>
                      <td>od piesek-leszek</td>
                      <td>Dobry trening</td>
                      <td></td>


                    </tr>

                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}