{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

            Nazwa użytkownika: {{member.username}} <br>Poziom VO2max = {{member.efficiency}}

            </div>
            <div class="card-body">Ostatnie 5 treningów użytkownia {{member.username}}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Data</th>
                      <th>Czas</th>
                      <th>Dystans</th>
                      <th>Średnia prędkość</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in training%}
                    <tr>

                        <td>{{i.date}}</td>
                      <td>{{i.time_total}}</td>
                      <td>{{i.distance_total}} km</td>
                      <td>{{i.speed}} km/h</td>

                    </tr>
                    {% empty %}
                    <p>Brak wprowadzonych treningów</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
     <div class="card-body">Ostatnie rozmowy z użytkownikiem {{interlocutor.username}}
              <div class="table-responsive">
                  <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Wyślij wiadomość do {{interlocutor.username}}</button></a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Data</th>
                      <th>Nadawca</th>
                        <th>Odbiorca</th>
                      <th>Treść</th>
                        <th></th>


                    </tr>
                  </thead>
                <tbody>
                    {% for i in msg %}
                    <tr>

                        <td>{{i.date_sent}}</td>
                      <td>{{i.sender.username}}</td>
                        <td>{{i.to.username}}</td>
                      <td>{{i.content}} </td>



                    </tr>
                    {% empty %}
                    <p>Brak wiadomości</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}