{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

            </div>
    <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Wyślij wiadomość do {{interlocutor.username}}</button></a>
     <div class="card-body">Ostatnie wiadomości z użytkownikiem {{interlocutor.username}}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Data</th>
                      <th>Nadawca</th>
                        <th>Odbiorca</th>
                      <th>Treść</th>
                        <th></th>


                    </tr>
                  </thead>
                <tbody>
                    {% for i in msg %}
                    <tr>

                        <td>{{i.date_sent}}</td>
                      <td>{{i.sender.username}}</td>
                        <td>{{i.to.username}}</td>
                      <td>{{i.content}} </td>



                    </tr>
                    {% empty %}
                    <p>Brak wiadomości</p>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
    <div class="card-body">Rozmowa z użytkownikiem:
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>


                      <th>Użytkownik</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in user %}
                    <tr>

                        <td><a href = "{% url 'messanger' i.id%}">{{i.username}}</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                  <a href="{% url 'sendmessage' %}"><button name = 'VDOT' type="submit">Wyślij wiadomość</button></a>
              </div>
            </div>
</div>

{% endblock content %}