{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

             Twoje grupy biegowe:

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Numer</th>
                      <th>Nazwa grupy</th>
                      <th>Admin</th>
                      <th>Data utworzenia</th>

                    </tr>
                  </thead>
                <tbody>
                    {% for i in group %}
                    <tr>
                      <td>{{i.id}}</td>
                        <td><a href='/running_group/{{i.id}}'>{{i.name}}</a></td>
                      <td>{{i.admin.username}}</td>
                      <td>{{i.date}}</td>
                      <td>{{i.date_joined}}</td>
                      <td>{{i.efficiency}}</td>
                    {% endfor%}
                    </tr>

                </tbody>
                </table>
              </div>
            </div>
</div>

{% endblock content %}