{% extends "racemate/index.html" %}
{% block content %}
<div class="card mb-3">

            <div class="card-header">
              <i class="fas fa-table"></i>

             Join the running group:

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Name of the group</th>
                      <th>Admin</th>
                      <th>Creation date</th>
                        <th>No. of members</th>
                        <th>Join</th>

                    </tr>
                  </thead>
                <tbody>


                    {% for i in groups %}
                    <tr>

                        <td><a href="{% url 'running-group' id=i.id %}">{{i.name}}</a></td>
                      <td>{{i.admins}}</td>
                      <td>{{i.date}}</td>
                        <td>{{i.members}}</td>
                        <td><a href="{% url 'join-group-confirm' id=i.id %}"><button name = 'join' type="submit">Join</button></a></td>
                    {% endfor%}
                    </tr>

                </tbody>

                </table>
              </div>
            </div>
</div>

{% endblock content %}