{% extends "racemate/index.html" %}
{% block content %}

    <form method="post">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <h4><b>{{ user.username }}</b> Which trening you want to start?</h5>
            <ul>
                <li><a href = "{% url 'whiteplan' %}">For beginers(Jack Daniels' White Plan)</a></li>
                <li><a href = "{% url '18weeksplan' %}">Marathon training - 18 weeks</a></li>
            </ul>


            </table>
 </form>

{% endblock content %}